/* 所有变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
/* 自定义主题色示例，如下 */
.dark{
  .mu-table-cell{
    color: #e5eaf3;
  }

  .mu-table-stripe .mu-table-tr:nth-child(2n){
    background-color:   #7f7f7f
  }

  .purple{
    background-color: #ff9a0b;
  }

  .purple .mu-table-cell,
  .green .mu-table-cell{
    color: #000;
  }
}